.btn{
	.transition(0.2s);
	.fh;
	margin: 0;
	padding: 0 20px;
	border: 0;
	height: 36px;
	line-height: 36px;
	font-size: 17px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	text-transform: uppercase;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @orange;
	&:hover{
		background: darken(@orange,5%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: darken(@orange,5%);
		}
	}
}