// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Archivo Narrow',sans-serif;} // font header
.fi {font-family: 'ltm-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@orange: #ff6600;
@brown: #3d3329;
@cp: #333; // color primary
@cl: @orange; // color link

// font sizes
@fsp: 15px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;