#page-header {
	min-width: @content-width;
	position: relative;
	z-index: 999;
	border-bottom: 35px solid #fff;
	background: darken(@orange,5%);
	-webkit-box-shadow: 0 2px 0 fade(#000,15%), inset 0 -2px 0 fade(#000,15%);
	-moz-box-shadow: 0 2px 0 fade(#000,15%), inset 0 -2px 0 fade(#000,15%);
	box-shadow: 0 2px 0 fade(#000,15%), inset 0 -2px 0 fade(#000,15%);
	.logo {
		position: relative;
		float: left;
		margin: 39px -35px -35px -35px;
		&:before, &:after{
			position: absolute;
			content: '';
			top: 100%;
			left: 0;
			border: 95px solid transparent;
			border-top-color: #fff;
			border-top-width: 25px;
			border-right-width: 175px;
			border-bottom-width: 0px;
		}
		&:before{
			border-top-color: fade(#000,15%);
			margin-top: 2px;
		}
		img {
			display: block;
		}
	}
}
#col-main {
	width: 630px;
	float: right;
}
#col-left {
	width: 240px;
	float: left;
}
#content {
	margin: 35px 0;
}
.home_center {
	padding: 65px 0 46px;
	.container {
		padding: 0;
	}
	.col_left {
		width: 30.209%;
		float: left;
		padding: 0 30px 0 0;
		hr {
			margin: 0 0 25px;
		}
	}
	.col_center {
		width: 39.582%;
		float: left;
	}
	.col_right {
		width: 30.209%;
		float: left;
		padding: 0 20px 0 70px;
	}
}
#page-footer {
	min-width: @content-width;
	position: relative;
	padding: 0 0 30px;
	border-top: 8px solid #4d4338;
	.copy {
		text-align: center;
		font-size: 13px;
		p {
			margin: 0 0 12px;
		}
	}
	.xart {
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		a {
			color: @cp;
			text-decoration: none;
		}
		img {
			display: block;
			margin: 17px auto 0;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80a';
			font-size: 30px;
		}
		&:hover{
			background: darken(@cl,5%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}