.mod_custom-contact {
	.fh;
	text-align: right;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	margin: 5px 0 24px;
	a {
		color: #fff;
	}
	.mod-title {
		.fp;
		text-transform: uppercase;
		font-size: 19px;
		letter-spacing: -0.025em;
		display: inline-block;
	}
	ul {
		.rul;
		display: inline-block;
		li {
			.rli;
			display: inline-block;
			margin: 0 0 0 8px;
			&.phone {
				display: inline-block;
				font-size: 28px;
				font-weight: bold;
				margin-right: 8px;
				&:before{
					.fi;
					position: relative;
					top: 4px;
					display: inline-block;
					content: '\e811';
					font-size: 39px;
					font-weight: normal;
					margin: 0 8px 0 0;
				}
				small {
					display: inline-block;
					font-weight: normal;
					font-size: 19px;
					margin: 0 -2px 0 0;
				}
			}
		}
	}
}
.mod_menu-main {
	text-align: right;
	margin: 5px 0 8px;
	&>ul {
		.rul;
		&>li {
			.rli;
			display: inline-block;
			margin: 0 0 10px 32px;
			&.act {
				&>a {
					border-color: #fff;
				}
			}
			&>a {
				.fh;
				display: inline-block;
				font-size: 20px;
				color: #fff;
				text-decoration: none;
				text-transform: lowercase;
				border-bottom: 1px solid transparent;
				&:hover{
					border-color: #fff;
				}
			}
		}
	}
}
.mod_custom-slideshow {
	min-width: @content-width;
	position: relative;
	height: 372px;
	overflow: hidden;
	.items {
		.item {
			width: 100%;
			height: 100%;
			.content {
				position: relative;
				float: left;
				width: 33.3333%;
				height: 372px;
				text-align: right;
				color: #fff;
				background-repeat: no-repeat;
				background-position: top;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				&:before{
					z-index: 1;
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: -moz-linear-gradient(left,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%);
					background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.6)));
					background: -webkit-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%);
					background: -o-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%);
					background: -ms-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%);
					background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%);
				}
				figure {
					img {
						position: absolute;
						right: 0;
						top: 0;
						min-width: 100%;
						min-height: 100%;
					}
				}
				.text {
					.fh;
					max-width: 66.6666%;
					position: absolute;
					bottom: 37px;
					right: 58px;
					z-index: 1;
					font-size: 26px;
					line-height: 1;
					h2 {
						font-size: 60px;
						line-height: 1;
						margin: 0 0 15px;
						font-weight: bold;
					}
					nav {
						margin: 27px 0 0;
						a {
							.fh;
							.transition(0.2s);
							display: inline-block;
							text-decoration: none;
							text-transform: uppercase;
							font-weight: bold;
							font-size: 24px;
							line-height: 1;
							white-space: nowrap;
							color: #fff;
							background: @brown;
							padding: 20px 26px;
							border: 2px solid lighten(@orange,10%);
							&:hover{
								background: lighten(@orange,10%);
							}
						}
					}
				}
			}
			.image {
				.transition(0.5s);
				position: relative;
				float: left;
				width: 66.6666%;
				height: 372px;
				background-size: 300%;
				background-repeat: no-repeat;
				background-position: top;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				img {
					position: absolute;
					left: 0;
					top: 0;
					min-width: 100%;
					min-height: 100%;
				}
			}
		}
	}
}
#page-header .slideshow_pager {
	position: absolute;
	right: 19px;
	bottom: -49px;
	span {
		.border-radius(50%);
		display: block;
		float: left;
		text-indent: -9999px;
		width: 28px;
		height: 28px;
		margin: 0 0 0 10px;
		border: 6px solid #fff;
		background: #c2c2b3;
		cursor: pointer;
		&.cycle-pager-active {
			background: @orange;
		}
	}
}
.mod_custom-boxes {
	min-width: @content-width;
	padding: 42px 0 0;
	background: #ffdfba;
	.container {
		padding: 0;
	}
	.items {
		text-align: center;
		.item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			margin: 0 -2px 50px;
			a {
				color: #fff;
				text-decoration: none;
				figure {
					img {
						.transition(0.2s);
						display: block;
					}
				}
				[class^="icon-"] {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					&:before{
						.transition(0.1s);
						.border-radius(50%);
						position: absolute;
						z-index: 1;
						top: 50%;
						left: 50%;
						width: 96px;
						height: 96px;
						line-height: 94px;
						font-size: 64px;
						margin: -48px 0 0 -48px;
						background: #ff9500;
					}
					&:after{
						.transition(0.2s);
						position: absolute;
						content: '';
						height: 2px;
						left: 40px;
						right: 40px;
						top: 50%;
						background: #fff;
					}
				}
				h2 {
					.transition(0.2s);
					position: absolute;
					bottom: -50px;
					text-transform: uppercase;
					font-size: 19px;
					font-weight: bold;
					min-height: 50px;
					padding: 13px 30px 15px;
					text-align: left;
					background: @orange;
					margin: 0;
					width: 100%;
				}
				&:hover{
					figure {
						img {
							-webkit-opacity: 0.9;
							-moz-opacity: 0.9;
							opacity: 0.9;
							filter:alpha(opacity=90);
						}
					}
					[class^="icon-"] {
						&:before{
							font-size: 50px;
							-webkit-opacity: 0.9;
							-moz-opacity: 0.9;
							opacity: 0.9;
							filter:alpha(opacity=90);
						}
						&:after{
							left: 50%;
							right: 50%;
						}
					}
					h2 {
						color: @brown!important;
						background: #ffdfba!important;
					}
				}
			}
			&:nth-child(even) {
				a {
					h2 {
						background: darken(@orange,5%);
					}
				}
			}
		}
	}
}
.mod_newsflash_xart {
	line-height: 1.2;
	margin: 0 0 28px;
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-size: 27px;
		line-height: 1.2;
		font-weight: bold;
		margin: 0 0 16px;
	}
	.date {
		display: inline;
		font-style: italic;
		margin: 0 2px 0 0;
		font-size: 16px;
	}
	h2 {
		.fp;
		font-weight: bold;
		display: inline;
		margin: 0;
		font-size: 16px;
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	p {
		margin: 3px 0 10px;
	}
}
.mod_banners {
	margin: 0 0 30px;
	ul {
		.rul;
		li {
			.rli;
			margin: 0 20px 21px;
			img {
				display: block;
			}
			&.button {
				a {
					.fh;
					.btn;
					font-size: 24px;
					padding: 0 20px;
					line-height: 61px;
					height: 65px;
					background: @brown;
					border: 2px solid darken(@brown,100%);
					&:hover{
						background: darken(@brown,100%);
					}
				}
			}
		}
	}
}
.mod_custom-slider {
	position: relative;
	margin: 0 0 30px;
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-size: 27px;
		line-height: 1.2;
		font-weight: bold;
		margin: 0 0 12px;
		color: @orange;
	}
	.items {
		margin: 0 0 1px;
		.item {
			width: 100%;
			a {
				color: #fff;
				text-decoration: none;
			}
			figure {
				img {
					display: block;
				}
			}
			.content {
				.clearfix;
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 7px 18px 9px 32px;
				width: 100%;
				background: fade(@orange,70%);
				h2 {
					display: inline-block;
					width: 75%;
					margin: 0 -2px;
					padding: 0 15px 0 0;
					font-size: 20px;
					font-weight: bold;
				}
				.price {
					.fh;
					display: inline-block;
					width: 25%;
					margin: 0 -2px;
					font-weight: bold;
					font-size: 24px;
					white-space: nowrap;
				}
			}
		}
		.prev, .next {
			.border-radius(50%);
			position: absolute;
			z-index: 101;
			left: -27px;
			top: 50%;
			width: 54px;
			height: 54px;
			line-height: 54px;
			padding: 0 0 0 12px;
			font-size: 24px;
			margin: -49px 0 0;
			background: #fff;
			text-decoration: none;
			text-align: center;
			&:hover{
				color: @brown;
			}
			&:before{
				.fi;
				content: '\e801';
			}
		}
		.next {
			left: inherit;
			right: -27px;
			padding: 0 12px 0 0;
			&:before{
				content: '\e802';
			}
		}
	}
	nav {
		a {
			.btn;
			display: block;
			font-size: 24px;
			line-height: 1.2;
			height: inherit;
			padding: 19px 10px 16px;
			background: #ff9500;
		}
	}
}
.mod_custom-download {
	margin: 0 0 37px;
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-size: 27px;
		line-height: 1.2;
		font-weight: bold;
		margin: 0 0 17px;
	}
	ul {
		.rul;
		li {
			padding: 0 0 0 23px;
			margin: 0 0 3px;
			font-size: 14px;
			line-height: 1.2;
			&:before{
				color: @orange;
				font-size: 15px;
				top: 1px;
				left: -2px;
			}
			&.highlight {
				font-size: 16px;
				margin: 0 0 12px;
				&:before{
					font-size: 26px;
					content: '\e802';
					left: -3px;
					top: 0;
				}
			}
			&.last {
				margin: 18px 0 3px;
				padding-top: 14px;
				border-top: 1px solid @cp;
				&:before{
					top: 16px;
				}
			}
			a {
				color: #595959;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-banners {
	margin: 0 0 30px;
	ul {
		.rul;
		li {
			.rli;
			a {
				.fh;
				.transition(0.2s);
				font-size: 26px;
				line-height: 1.2;
				padding: 14px 17px 17px;
				display: block;
				background: @orange;
				color: @cp;
				text-transform: uppercase;
				text-decoration: none;
				&:hover{
					background: darken(@orange,5%);
				}
				&:before{
					.fi;
					float: right;
					content: '\e809';
					color: #fff;
					font-size: 50px;
					margin: 3px -12px 0 10px;
					line-height: 1;
				}
				mark {
					color: #fff;
					font-weight: bold;
				}
			}
		}
	}
}
.mod_custom-about {
	position: relative;
	z-index: 1;
	margin: 0 0 -8px;
	color: #fff;
	background: #4d4338;
	min-width: @content-width;
	.container {
		padding: 75px 10px 91px;
	}
	.mod-title {
		.fh;
		width: 28%;
		float: left;
		font-size: 52px;
		line-height: 1;
		figure {
			margin: 45px 0 0;
			padding: 12px;
			background: @orange;
			img {
				display: block;
			}
		}
		a {
			&:hover{
				figure {
					background: darken(@orange,5%);
				}
			}
		}
	}
	.about_content {
		.fh;
		width: 39%;
		padding: 10px 48px 0;
		font-size: 21px;
		line-height: 1.2;
		float: left;
		&:before{
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			top: 0;
			width: 33.3333%;
			background: @brown;
		}
		nav {
			margin: 38px 0 0;
			a {
				.btn;
				height: 67px;
				line-height: 67px;
				font-size: 24px;
				padding: 0 26px;
			}
		}
	}
	.contact {
		.fh;
		position: relative;
		width: 33%;
		float: left;
		padding: 5px 0 0 54px;
		font-size: 21px;
		line-height: 1.2;
		a, mark {
			color: #ff7d26;
		}
		.title {
			font-size: 26px;
			font-weight: bold;
			line-height: 1.2;
			margin: 0 0 24px;
			text-transform: uppercase;
		}
		address {
			font-style: normal;
			margin: 0 0 25px;
		}
		.email, .phone {
			margin: 0 0 25px;
			.clearfix;
			.label, .content {
				display: inline-block;
				vertical-align: top;
				margin: 0 -4px 0 0;
				mark {
					position: relative;
					top: -9px;
					margin: 0 0 -11px;
					display: block;
					font-size: 31px;
				}
			}
			.label {
				width: 22%;
			}
			.content {
				white-space: nowrap;
				width: 78%;
			}
		}
		.phone {
			.label {
				padding-right: 4px;
			}
			.content {
				white-space: nowrap;
				font-size: 21px;
			}
		}
	}
}
.mod_menu-footer {
	text-align: center;
	margin: 29px 0 23px;
	padding: 0 0 14px;
	border-bottom: 1px solid @cp;
	ul {
		.rul;
		li {
			.rli;
			text-transform: lowercase;
			display: inline-block;
			font-size: 14px;
			margin: 0 0 10px;
			white-space: nowrap;
			margin: 0 13px 10px;
			a {
				color: #595959;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				a {
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_breadcrumbs{
	min-width: @content-width;
	padding: 26px 0 5px;
	background: #ffdfba;
	.container {
		padding-left: 306px;
	}
	ul{
		.rul;
		.clearfix;
		li{
			float: left;
			margin-right: 15px;
			font-size: 14px;
			font-weight: bold;
			margin: 0 15px 20px 0;
			&:before{
				top: 5px;
			}
			a {
				color: @brown;
				font-weight: normal;
			}
			&.home {
				padding-left: 0;
				&:before{
					display: none;
				}
				a {
					position: relative;
					display: inline-block;
					text-indent: -9999px;
					width: 47px;
					&:before{
						.fi;
						position: absolute;
						left: 0;
						top: -20px;
						text-indent: 0;
						content: '\e80f';
						font-size: 44px;
					}
				}
			}
			&:nth-child(2) {
				padding-left: 0;
				&:before{
					display: none;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	margin: 0 0 37px;
	&>ul {
		.rul;
		&>li {
			.rli;
			margin: 0 0 1px;
			&>a {
				.fh;
				.transition(0.2s);
				position: relative;
				display: block;
				color: #fff;
				padding: 24px 15px 23px 40px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 19px;
				line-height: 1.2;
				background: @orange;
				&:hover{
					background: darken(@orange,5%);
					[class^="icon-"] {
						font-size: 40px;
					}
				}
				[class^="icon-"] {
					.transition(0.05s);
					.border-radius(50%);
					.box-shadow(1px 2px 0 fade(#000,15%));
					position: absolute;
					left: -28px;
					top: 50%;
					width: 56px;
					height: 56px;
					line-height: 56px;
					margin: -28px 0 0;
					text-align: center;
					font-size: 36px;
					background: #ff9500;
					font-weight: normal;
				}
			}
			&.act {
				&>a {
					background: lighten(@brown,5%);
					&:hover{
						background: @brown;
						&:before{
							border-top-color: @brown;
						}
					}
				}
			}
			&.has-ul {
				&>a {
					&:before{
						.transition(0.2s);
						position: absolute;
						content: '';
						top: 100%;
						right: 0;
						border: 13px solid transparent;
						border-top-width: 9px;
						border-bottom-width: 0;
						border-top-color: lighten(@brown,5%);
					}
				}
			}
			ul {
				.rul;
				padding: 26px 0 22px;
				li {
					padding-left: 18px;
					line-height: 1.2;
					margin: 0 0 14px;
					&:before{
						font-size: 15px;
						top: 2px;
						left: -2px;
						color: @orange;
					}
					a {
						color: @brown;
					}
					&.act {
						&>a {
							font-weight: bold;
							color: @orange;
							text-decoration: none;
						}
					}
					ul {
						padding: 10px 0 0;
						li {
							font-size: 13px;
							margin: 8px 0;
							&:before{
								font-size: 10px;
								top: 2px;
							}
						}
					}
				}
			}
		}
	}
}
.mod_custom-contact-sidebar {
	.fh;
	padding: 0 15px 11px 30px;
	margin: 0 0 31px;
	color: #fff;
	font-size: 18px;
	line-height: 1.2;
	background: @brown;
	a,mark {
		color: #ff7d26;
	}
	.mod-title {
		text-transform: uppercase;
		font-size: 26px;
		font-weight: bold;
		padding: 16px 0 17px;
	}
	figure {
		margin: 0 -15px 0 -30px;
	}
	address {
		font-style: normal;
		margin: 22px 0 18px;
	}
	.email, .phone {
		margin: 0 0 19px;
		.clearfix;
		.label, .content {
			display: inline-block;
			vertical-align: top;
			mark {
				position: relative;
				top: -11px;
				margin: 0 0 -20px;
				display: block;
				font-size: 31px;
			}
		}
	}
	.phone {
		.label {
			margin-right: 4px;
		}
		.content {
			white-space: nowrap;
			font-size: 21px;
		}
	}
}
.mod_custom-special-offer {
	margin: 0 0 31px;
	color: #fff;
	background: lighten(@brown,5%);
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 1.2;
		font-weight: bold;
		padding: 19px 30px 16px;
		background: @brown;
	}
	ul {
		.rul;
		padding: 28px 20px 2px 30px;
		li {
			.rli;
			margin: 0 0 15px;
		}
	}
}
.mod_custom-offer {
	.fh;
	color: #fff;
	background: @orange;
	margin: 0 0 31px;
	a {
		.transition(0.2s);
		color: #fff;
		text-decoration: none;
		display: block;
		background: @orange;
		&:hover{
			background: darken(@orange,5%);
		}
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		font-size: 26px;
		line-height: 1.2;
		font-weight: bold;
		padding: 16px 30px 16px;
	}
	figure {
		img {
			.transition(0.2s);
			display: block;
		}
	}
}
.mod_custom-products {
	margin: 35px 0;
	.items {
		.clearfix;
		margin: 0 -15px;
		.item {
			position: relative;
			float: left;
			width: 50%;
			padding: 63px 15px 0;
			margin: 0 0 30px;
			vertical-align: top;
			a {
				color: #fff;
				text-decoration: none;
				&:hover{
					h2 {
						background: darken(@orange,5%);
					}
				}
			}
			h2 {
				.transition(0.2s);
				position: absolute;
				top: 0;
				left: 15px;
				right: 15px;
				color: #fff;
				height: 63px;
				font-size: 24px;
				text-align: center;
				padding: 20px 15px;
				background: @orange;
			}
			figure {
				margin: 0 0 1px;
				img {
					display: block;
				}
			}
			nav {
				.clearfix;
				a {
					.fh;
					.transition(0.2s);
					display: block;
					text-align: center;
					float: left;
					width: 50%;
					height: 63px;
					line-height: 63px;
					font-size: 21px;
					white-space: nowrap;
					background: @brown;
					&:hover{
						background: darken(@brown,5%);
						&:after{
							left: 6px;
						}
					}
					&:nth-child(1) {
						border-right: 1px solid #fff;
					}
					&:after{
						.fi;
						.transition(0.2s);
						position: relative;
						top: 1px;
						left: 4px;
						content: '\e802';
						color: @orange;
						font-size: 22px;
					}
				}
			}
		}
	}
}
.mod_custom-detail {
	margin: 35px 0;
	.detail_content {
		float: right;
		width: 41.25%;
		margin: -6px 0 7px;
		line-height: 1.3;
		.info	{
			margin: 0 0 21px;
			h2 {
				color: @orange;
				font-size: 25px;
				padding: 0 0 13px;
				margin: 0 0 22px;
				border-bottom: 1px solid @brown;
			}
			p {
				margin: 0 0 11px;
			}
			mark {
				font-weight: bold;
				color: @brown;
			}
		}
		.pricelist {
			padding: 30px 0 15px;
			border-top: 1px solid @brown;
			h2 {
				color: @orange;
				font-size: 25px;
				margin: 0 0 5px;
			}
			table {
				width: 100%;
				margin: 0 0 20px;
				th,td {
					text-align: right;
					font-weight: bold;
					padding: 8px 0;
					vertical-align: bottom;
					border-top: 1px solid lighten(@cp,70%);
					mark {
						.fh;
						display: inline-block;
						white-space: nowrap;
						font-size: 24px;
						line-height: 1;
						color: @orange;
					}
				}
				th {
					padding-right: 5px;
					text-align: left;
				}
				tr:first-child {
					th, td {
						border-top: none;
					}
				}
			}
		}
		.download {
			padding: 28px 0;
			border-top: 1px solid @brown;
			ul {
				.rul;
				li {
					line-height: 1.2;
					margin: 0 0 10px;
					padding-left: 15px;
					&:before{
						color: @orange;
						font-size: 14px;
						top: 3px;
						left: -2px;
					}
					a {
						color: @brown;
					}
				}
			}
		}
	}
	.detail_image {
		float: left;
		width: 50.8%;
		margin: 0 0 30px;
		ul {
			.rul;
			margin: 0 0 23px;
			li {
				.rli;
			}
			&.images {
				li {
					position: static!important;
					display: none!important;
					&.cycle-slide-active {
						display: block!important;
					}
					img {
						display: block;
					}
				}
			}
			&.thumbnails {
				.clearfix;
				margin: 0 -5px;
				li {
					float: left;
					width: 33.3333%;
					padding: 0 5px 10px;
					img {
						display: block;
					}
				}
			}
		}
	}
	.booking {
		padding: 40px 0;
		border-top: 1px solid @brown;
		.booking_calendar {
			.mod-title {
				.clearfix;
				margin: 0 0 28px;
				h2 {
					float: left;
					color: @orange;
					font-size: 25px;
					margin: 0;
				}
				.control {
					float: right;
					font-size: 16px;
					font-weight: bold;
					span {
						margin: 0 10px 0 0;
					}
					.booking_calendar_prev, .booking_calendar_next {
						.border-radius(50%);
						padding: 0;
						height: 32px;
						width: 32px;
						line-height: 32px;
						margin: 0 0 0 3px;
						&.disabled {
							cursor: default;
							background: #cdcdcd;
						}
						span {
							margin: 0;
						}
					}
				}
			}
			.ui-datepicker-inline {
				.clearfix;
				overflow: hidden;
				margin: 0 -27px 15px;
				border: 0;
				background-color: transparent;
				width: inherit!important;
				.ui-datepicker-group {
					float: left;
					width: 50%;
					padding: 0 27px;
					margin: 0 0 30px;
				}
				.ui-datepicker-prev, .ui-datepicker-next {
					display: none;
				}
			}
		}
		.booking_form {
			.mod-title {
				.clearfix;
				h2 {
					.fp;
					float: left;
					font-size: 16px;
				}
				.info {
					float: right;
					font-size: 13px;
					.label_free, .label_disabled, .label_hour {
						position: relative;
						display: inline-block;
						padding: 0 0 0 30px;
						margin: 0 0 0 15px;
						&:before{
							position: absolute;
							content: '';
							left: 0;
							top: -1px;
							width: 22px;
							height: 22px;
						}
					}
					.label_free {
						&:before{
							background: #ffeacc;
						}
					}
					.label_disabled {
						&:before{
							background: #ff9500;
						}
					}
					.label_hour {
						&:before{
							width: 0;
							height: 0;
							border-top: 22px solid #ff9500;
							border-right: 22px solid transparent;
						}
					}
				}
			}
			.required_info {
				font-size: 14px;
				margin: 0 0 32px;
			}
			.col_form {
				float: left;
				width: 46.2%;
			}
			input {
				margin: 0 0 13px;
			}
			textarea {
				height: 93px;
				margin: 0 0 28px;
			}
			label {
				display: block;
				font-weight: bold;
				clear: both;
				margin: 0 0 5px;
			}
			.input-small {
				width: 34.7%;
				float: left;
			}
			.icon-calendar {
				float: left;
				width: 15.3%;
				padding: 0;
				margin-right: -4px;
				background: none;
				color: @brown;
				text-align: left;
				padding: 0 0 0 8px;
				font-size: 28px;
				&:hover, &:focus {
					color: @orange;
				}
				&:before{
					margin: 0;
				}
			}
			[type="submit"] {
				width: 100%;
				height: 63px;
				line-height: 63px;
				font-size: 23px;
				background: @brown;
				&:hover{
					background: darken(@brown,5%);
				}
			}
		}
		.col_contact {
			.fh;
			position: relative;
			float: right;
			width: 46%;
			margin: 26px 0;
			background: #ffca7f;
			padding: 0 30px 30px;
			&:before{
				position: absolute;
				top: 100%;
				right: 16px;
				content: '';
				border-right: 49px solid transparent;
				border-top: 43px solid #ffca7f;
			}
			.title {
				margin: 0 -30px 26px;
				padding: 15px 30px;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: bold;
				color: #fff;
				background: #ff9500;
			}
			.name {
				font-size: 24px;
				font-weight: bold;
				line-height: 1.2;
				margin: 0 0 9px;
			}
			.email, .phone {
				.clearfix;
				.label, .content {
					display: inline-block;
					vertical-align: bottom;
					margin: 0 -4px 0 0;
					font-size: 18px;
					mark {
						display: block;
						font-size: 31px;
						line-height: 1;
						color: @orange;
					}
				}
				.label {
					width: 22%;
				}
				.content {
					white-space: nowrap;
					width: 78%;
				}
			}
			.phone {
				.label {
					padding-right: 4px;
				}
				.content {
					white-space: nowrap;
					font-size: 21px;
				}
			}
		}
	}
}
.ui-datepicker {
	text-align: center;
	min-width: 280px;
	background: #fff;
	border: 1px solid @orange;
	.ui-datepicker-header {
		.clearfix;
		.box-shadow(inset 0 -2px 2px fade(#000,15%));
		color: #fff;
		background: @orange;
		position: relative;
		font-size: 22px;
		padding: 14px 45px 15px;
		margin: 0 0 25px;
		.ui-datepicker-prev, .ui-datepicker-next {
			.border-radius(50%);
			position: absolute;
			left: 10px;
			top: 50%;
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 18px;
			margin: -15px 0 0;
			color: @orange;
			white-space: nowrap;
			text-decoration: none;
			overflow: hidden;
			background: #fff;
			&:hover{
				color: @brown;
			}
			&:before{
				.fi;
				display: inline-block;
				width: 30px;
				content: '\e801';
			}
		}
		.ui-datepicker-next {
			left: inherit;
			right: 10px;
			&:before{
				content: '\e802';
			}
		}
	}
	.ui-datepicker-calendar {
		width: 100%;
		font-size: 19px;
		thead {
			font-size: 20px;
			th,td {
				padding: 0 0 9px;
			}
		}
		tbody {
			th,td {
				position: relative;
				background: #ffeacc;
				border: 2px solid #fff;
				overflow: hidden;
				&.ui-state-disabled {
					background: transparent;
				}
				&.highlight {
					&:before{
						position: absolute;
						top: 1px;
						left: 1px;
						content: '';
						border-top: 37px solid #ff9500;
						border-right: 37px solid transparent;
					}
				}
				a, span {
					position: relative;
					z-index: 1;
					color: @cp;
					display: block;
					padding: 5px 0 4px;
					text-decoration: none;
					cursor: not-allowed;
				}
				a {
					cursor: pointer;
					&:hover{
						color: #fff;
						background: @brown;
					}
				}
				span {
					background: #ff9500;
				}
			}
		}
	}
}