@media (min-width: 1200px) {
	
}
@media (max-width: 1259px) {
	.mod_custom-slideshow {
		.items {
			.item {
				.content {
					.text {
						font-size: 20px;
						h2 {
							font-size: 36px;
						}
						nav {
							a {
								padding: 10px 20px;
								font-size: 21px;
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	@content-width: 740px;
	.container {
		width: @content-width;
	}
	#page-header, #page-footer, .mod_custom-slideshow, .mod_custom-boxes, .mod_custom-about, .mod_breadcrumbs, .mod_custom-slideshow {
		min-width: @content-width;
	}
	#page-header {
		.logo {
			float: none;
			margin: 0 0 20px;
			border-bottom: 2px solid #fff;
		}
	}
	.mod_custom-slideshow {
		.items {
			.item {
				.content {
					width: 50%;
				}
				.image {
					width: 50%;
				}
			}
		}
	}
	.mod_custom-boxes {
		.items {
			.item {
				width: 50%;
			}
		}
	}
	.home_center {
		.col_left {
			.clearfix;
			width: inherit;
			border-bottom: 1px solid @brown;
			margin: 0 0 50px;
			hr {
				display: none;
			}
		}
		.col_center {
			width: 50%;
		}
		.col_right {
			width: 50%;
			padding: 0 0 0 60px;
		}
	}
	.mod_newsflash_xart {
		float: left;
		width: 33.3333%;
	}
	.mod_banners {
		float: left;
		width: 66.6666%;
		padding: 45px 0 0;
		ul {
			li {
				display: inline-block;
				vertical-align: top;
				margin: 0 -2px;
				width: 50%;
				padding: 0 0 0 40px;
			}
		}
	}
	.mod_custom-download, .mod_custom-slider {
		.mod-title {
			font-size: 26px;
		}
	}
	.mod_custom-about {
		.mod-title {
			width: inherit;
			border-bottom: 1px solid lighten(@brown,20%);
			padding: 0 0 15px;
			margin: 0 0 30px;
			figure {
				display: none;
			}
		}
		.about_content {
			padding: 0 15px 0 0;
			width: 50%;
			&:before{
				display: none;
			}
		}
		.contact {
			padding: 0 0 0 15px;
			width: 50%;
		}
	}
	.mod_breadcrumbs {
		.container {
			padding-left: 15px;
		}
	}
	#col-main {
		width: 66.6666%;
		padding-left: 30px;
	}
	#col-left {
		width: 33.3333%;
	}
	.mod_custom-detail {
		.detail_content {
			width: inherit;
			float: none;
		}
		.detail_image {
			width: inherit;
			float: none;
		}
		.booking {
			.booking_calendar {
				margin-bottom: 0;
				.mod-title {
					h2 {
						float: none;
					}
					.control {
						float: none;
					}
				}
				.ui-datepicker-inline {
					.ui-datepicker-group {
						width: 100%;
						margin: 0 0 20px;
					}
				}
			}
			.booking_form {
				.mod-title {
					h2 {
						.fh;
						color: @orange;
						font-size: 25px;
					}
					.info {
						margin: -20px 0 50px;
					}
				}
				.col_form {
					float: none;
					width: inherit;
				}
				.col_contact {
					float: none;
					width: inherit;
				}
			}
		}
	}
	.mod_custom-products {
		.items {
			.item {
				width: inherit;
				float: none;
			}
		}
	}
}
@media (max-width: 767px) {
	@content-width: 100%;
	.container {
		width: @content-width;
	}
	#page-header, #page-footer, .mod_custom-slideshow, .mod_custom-boxes, .mod_custom-about, .mod_breadcrumbs, .mod_custom-slideshow {
		min-width: @content-width;
	}
	#gotop {
		display: none;
	}
	#page-header {
		border-bottom: none;
		.logo {
			float: none;
			margin: 0 -20px 20px;
			padding: 0 0 20px;
			background: #fff;
			&:before, &:after {
				display: none;
			}
			img {
				margin: auto;
			}
		}
	}
	.mod_custom-contact {
		text-align: center;
		padding: 0 0 20px;
		margin: 0;
		border-bottom: 1px solid #fff;
		.mod-title {
			display: block;
		}
		ul {
			li {
				display: block;
				&.phone {
					&:before{
						display: none;
					}
				}
			}
		}
	}
	.mod_menu-main {
		margin: 0 0 20px;
		ul {
			border-top: 1px solid #fff;
			li {
				display: block;
				text-align: left;
				margin: 0;
				border-bottom: 1px solid #fff;
				&:first-child {
					border-top: none;
				}
				a {
					display: block;
					padding: 10px 15px;
					&:hover{
						border-bottom-color: transparent;
					}
				}
				&.act {
					a {
						background: @brown;
						border-bottom-color: transparent;
					}
				}
			}
		}
	}
	.mod_custom-slideshow {
		.items {
			.item {
				.content {
					width: 100%;
					.text {
						text-align: center;
						max-width: inherit;
						right: 15px;
						left: 15px;
					}
				}
				.image {
					display: none;
				}
			}
		}
	}
	.mod_custom-boxes {
		.items {
			.item {
				width: 100%;
				margin-bottom: 90px;
			}
		}
	}
	.home_center {
		.col_left {
			float: none;
			width: inherit;
			padding: 0 20px;
		}
		.col_center {
			float: none;
			width: inherit;
			padding: 0 20px;
		}
		.col_right {
			float: none;
			width: inherit;
			padding: 0 20px;
		}
	}
	.mod_newsflash_xart {
		float: none;
		width: inherit;
	}
	.mod_banners {
		float: none;
		width: inherit;
		ul {
			li {
				text-align: center;
				img {
					margin: auto;
				}
			}
		}
	}
	.mod_custom-about {
		.container {
			padding: 30px 20px;
		}
		.mod-title {
			width: inherit;
			border-bottom: 1px solid lighten(@brown,20%);
			padding: 0 0 15px;
			margin: 0 0 30px;
			figure {
				display: none;
			}
		}
		.about_content {
			float: none;
			width: inherit;
			padding: 0 0 30px;
			&:before{
				display: none;
			}
		}
		.contact {
			padding: 0 0 30px;
			width: 100%;
			.email .label, .phone .label {
				display: block;
			}
		}
	}
	.mod_breadcrumbs {
		display: none;
	}
	#col-main {
		width: inherit;
		float: none;
		padding: 0;
	}
	#content {
		img {
			float: none;
			display: block;
			margin: 0 0 20px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
	#col-left {
		width: inherit;
		float: none;
	}
	.mod_custom-detail {
		.detail_content {
			width: inherit;
			float: none;
		}
		.detail_image {
			width: inherit;
			float: none;
		}
		.booking {
			.booking_calendar {
				margin-bottom: 0;
				.mod-title {
					h2 {
						float: none;
					}
					.control {
						float: none;
					}
				}
				.ui-datepicker-inline {
					.ui-datepicker-group {
						width: 100%;
						margin: 0 0 20px;
					}
				}
			}
			.booking_form {
				.mod-title {
					h2 {
						.fh;
						color: @orange;
						font-size: 25px;
					}
					.info {
						margin: -20px 0 50px;
					}
				}
				.col_form {
					float: none;
					width: inherit;
				}
				.col_contact {
					float: none;
					width: inherit;
				}
			}
		}
	}
	.mod_custom-products {
		.items {
			.item {
				width: inherit;
				float: none;
			}
		}
	}
}