nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		padding: 0 15px;
		&:after{
			.fi;
			position: relative;
			content: '\e802';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin: 0 0 20px 0;
	width: 100%;
	background: #fff;
	border-top: 2px solid lighten(@brown,50%);
	th,td{
		padding: 8px 10px;
		border: 1px solid lighten(@brown,60%);
		border-left: 0;
		border-right: 0;
		font-weight: normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@brown,75%);
	}
	th,thead td{
		font-weight: bold;
		background: lighten(@brown,55%)!important;
	}
	tfoot td{
		background: lighten(@brown,65%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input.input-mini{
		width: 36px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	.fileinputs{
		position: relative;
		display: inline-block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 100px;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: inline-block;
			.input-file-text{
				border-right: 0;
				float: left;
				margin-right: 0;
				padding-right: 0;
				width: inherit;
			}
			input[type="button"] {
				float: left;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span{
		.btn;
		padding: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
		background: lighten(@brown,10%);
	}
	a {
		&:hover{
			background: @brown;
		}
	}
	span.pagenav{
		color: #fff;
		background: @orange;
	}
	span.pagenav-ico{
		cursor: default;
		background: lighten(@brown,60%);
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 5px;
	background: @orange;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 10px;
	background: @orange;
}
a.xeditorpopup:hover img{
	background: darken(@orange,5%);
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: lighten(@cl,20%);
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @cl;
	}
	.warning,.error{
		background: red;
	}
}
