@font-face {
  font-family: 'ltm-icons';
  src: url('../font/ltm-icons.eot?10477466');
  src: url('../font/ltm-icons.eot?10477466#iefix') format('embedded-opentype'),
       url('../font/ltm-icons.woff?10477466') format('woff'),
       url('../font/ltm-icons.ttf?10477466') format('truetype'),
       url('../font/ltm-icons.svg?10477466#ltm-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ltm-icons';
    src: url('../font/ltm-icons.svg?10477466#ltm-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ltm-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arr-small-right:before { content: '\e800'; } /* '' */
.icon-arr-left:before { content: '\e801'; } /* '' */
.icon-arr-right:before { content: '\e802'; } /* '' */
.icon-arr-small-up:before { content: '\e803'; } /* '' */
.icon-arr-thin-down:before { content: '\e804'; } /* '' */
.icon-arr-thin-left:before { content: '\e805'; } /* '' */
.icon-arr-small-down:before { content: '\e806'; } /* '' */
.icon-arr-small-left:before { content: '\e807'; } /* '' */
.icon-print:before { content: '\e808'; } /* '' */
.icon-arr-thin-right:before { content: '\e809'; } /* '' */
.icon-arr-thin-up:before { content: '\e80a'; } /* '' */
.icon-arr-up:before { content: '\e80b'; } /* '' */
.icon-calendar:before { content: '\e80c'; } /* '' */
.icon-coins:before { content: '\e80d'; } /* '' */
.icon-delivery-truck:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-key:before { content: '\e810'; } /* '' */
.icon-phone:before { content: '\e811'; } /* '' */
.icon-service:before { content: '\e812'; } /* '' */
.icon-tachometer:before { content: '\e813'; } /* '' */
.icon-tire:before { content: '\e814'; } /* '' */
.icon-trailer-rental:before { content: '\e815'; } /* '' */
.icon-trailer-sale:before { content: '\e816'; } /* '' */
.icon-trailer-service:before { content: '\e817'; } /* '' */
.icon-arr-down:before { content: '\e818'; } /* '' */