
.icon-arr-small-right:before { content: '\e800'; } /* '' */
.icon-arr-left:before { content: '\e801'; } /* '' */
.icon-arr-right:before { content: '\e802'; } /* '' */
.icon-arr-small-up:before { content: '\e803'; } /* '' */
.icon-arr-thin-down:before { content: '\e804'; } /* '' */
.icon-arr-thin-left:before { content: '\e805'; } /* '' */
.icon-arr-small-down:before { content: '\e806'; } /* '' */
.icon-arr-small-left:before { content: '\e807'; } /* '' */
.icon-print:before { content: '\e808'; } /* '' */
.icon-arr-thin-right:before { content: '\e809'; } /* '' */
.icon-arr-thin-up:before { content: '\e80a'; } /* '' */
.icon-arr-up:before { content: '\e80b'; } /* '' */
.icon-calendar:before { content: '\e80c'; } /* '' */
.icon-coins:before { content: '\e80d'; } /* '' */
.icon-delivery-truck:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-key:before { content: '\e810'; } /* '' */
.icon-phone:before { content: '\e811'; } /* '' */
.icon-service:before { content: '\e812'; } /* '' */
.icon-tachometer:before { content: '\e813'; } /* '' */
.icon-tire:before { content: '\e814'; } /* '' */
.icon-trailer-rental:before { content: '\e815'; } /* '' */
.icon-trailer-sale:before { content: '\e816'; } /* '' */
.icon-trailer-service:before { content: '\e817'; } /* '' */
.icon-arr-down:before { content: '\e818'; } /* '' */